name: Run bust and steal algorithm

on:
  push:
    branches:
      - main
    paths:
      - "src/**"
      - "config/**"

jobs:
  test:
    runs-on: ubuntu-latest
    env:
      CLOUDFLARE_DATABASE_ID: ${{ secrets.CLOUDFLARE_DATABASE_ID }}
      CLOUDFLARE_ACCOUNT_ID: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
      CLOUDFLARE_API_TOKEN: ${{ secrets.CLOUDFLARE_API_TOKEN }}

    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'

      - name: Install dependencies
        run: composer install

      - name: Calculate Busts
        run: php bin/calculate.php --persist busts

      - name: Calculate Steals
        run: php bin/calculate.php --persist steals

      - name: Trigger build-site workflow
        uses: peter-evans/repository-dispatch@v4
        with:
          token: ${{ secrets.REPO_DISPATCH_TOKEN }}
          repository: mcgurk-labs-llc/draft-site-fe
          event-type: build-site