name: Tests

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'

      - name: Install dependencies
        run: composer install

      - name: Run compilation test
        run: ./tests/compilation-test.sh

      - name: Run unit tests
        run: ./vendor/bin/phpunit tests/Unit